.Burger {
    width: 100%;
    height: 250px;
    overflow: scroll;
    margin: auto;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}


@media screen and (min-width: 1000px) and (min-height: 700px){
    .Burger {
        width: 700px;
        height: 600px;
    }
}

@media screen and (min-width: 500px) and (min-height: 401px){
    .Burger {
        width: 450px;
        height: 400px;
    }
}

